@import "tailwindcss";

@layer base {
  :root {
    --color-teal-custom: #37B29E;
    --color-teal-light: #AEEDE9;
    --color-green-font: #73C2A9;
    --color-green-field: #C9F6B9;
    --color-teal-header: #97E9E5;
    font-family: 'Inter', sans-serif;
  }
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;


  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  -moz-osx-font-smoothing: grayscale;

  font-feature-settings: 'liga';
}